body {
  background-color: rgb(218, 144, 7);
}

.parent {
  background-color: rgb(218, 218, 218);
  width: 28%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 12px 10px 27px 5px rgb(0, 0, 0);
}

.parent h2 {
  background-color: rgb(236, 194, 3);
  padding-top: 16px;
  padding-bottom: 9px;
  margin-top: -16px;
  border-radius: 20px 20px 0 0;
  font-weight: 900;
}

.form {
  margin-top: 20px;
}

.form input {
  border: none;
  border-bottom: 1px dashed black;
  margin-right: 5px;
  height: 37px;
  background-color: transparent;
}

.form button {
  background-color: transparent;
  border-radius: 5px;
  width: 59px;
}
